.shop-container {
   display: grid;
   grid-template-columns: 4fr 1fr;
}
.product-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 45px;
   margin: 120px 104px;
}
.cart-container {
   background-color: #0071a0;
  padding: 28px 50px;
}
